<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- GOOGLE FONT (POPPINS) -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <title>Trybe Welcome</title>
  </head>
  <body
    style="
      margin: 0;
      padding: 50px 0;
      font-family: poppins;
      background: #fef3e2;
    "
  >
    <!-- HEADER SECTION STARTS -->
    <table
      style="
        height: 120px;
        background-color: #fff;
        /* box-shadow: 0px 1px 22px 0px #3333331a; */
        /* border-bottom: 2px solid #c1f2b0; */
        text-align: center;
        border-radius: 20px 20px 0 0;
        width: 600px;
        margin: 100px auto 0px;
        padding: 0 50px;
      "
    >
      <tr>
        <td>
          <h1 style="color: #fa4032">
            <span style="color: #03071e">Link</span>Spire
          </h1>
          <!-- <img src="./logo.png" alt="" width="30%" /> -->
          <hr style="border: 1px solid #fa812f" />
        </td>
      </tr>
    </table>
    <!-- HEADER SECTION ENDS -->

    <!-- CONTENT SECTION STARTS -->
    <table
      align="center"
      style="
        background-color: #fff;
        text-align: center;
        border-radius: 0;
        width: 600px;
        margin: 0px auto 0px;
      "
    >
      <!-- CONTENT HEADER STARTS -->
      <tr>
        <td
          style="
            font-weight: 700;
            font-size: 1.8rem;
            color: #060016;
            padding-top: 10px;
            padding-bottom: 10px;
          "
        >
          Welcome to the Community!
        </td>
      </tr>
      <!-- CONTENT HEADER ENDS -->

      <!-- CONTENT BODY STARTS -->
      <tr style="text-align: left; color: #4f4f4f">
        <td style="padding: 0 50px">
          <p>Hi {{Firstname}}, Welcome to the Community!</p>
          <!-- <p>
            We are thrilled to have you join our Trybe community of tech
            enthusiasts and smart entrepreneurs thriving and making waves.
          </p> -->
          <p>
            To get started, click this
            <span
              ><a href="/" style="font-weight: 700; color: #4f4f4f"
                ><em>link</em></a
              ></span
            >
            to join the Telegram Channel where all the amazing activites and
            resources you need for your career growth would be shared.
          </p>
        </td>
      </tr>
      <!-- CONTENT BUTTON(S) -->
      <tr style="text-align: left; color: #4f4f4f">
        <td style="text-align: left; padding: 0 50px">
          <button
            style="
              background: #fa4032;
              color: #fff;
              border-radius: 5px;
              padding: 15px 35px;
              border: 0;
              font-weight: 700;
              cursor: pointer;
              margin: 20px auto 20px;
              box-shadow: 0px 2px 12px rgba(51, 51, 51, 0.1);
              font-size: 1rem;
            "
          >
            Join the Community
          </button>
        </td>
      </tr>
      <!-- CONTENT BUTTON(S) -->

      <tr style="text-align: left; color: #4f4f4f">
        <td style="padding: 0 50px">
          <p style="padding-bottom: 35px">
            Sincerely, <br />
            Community Manager.
          </p>
        </td>
      </tr>
      <!--CONTENT BODY ENDS  -->
    </table>
    <!-- CONTENT SECTION ENDS -->

    <!-- FOOTER SECTION STARTS -->
    <table
      style="
        background: #060016;
        text-align: center;
        border-radius: 0 0 20px 20px;
        margin: 0px auto 50px;
        color: #fff;
        cursor: pointer;
        width: 600px;
        padding: 20px 20px;
      "
    >
      <tr
        style="
          text-align: center;
          background: transparent;
          border-radius: 0px 0px 10px 10px;
        "
      >
        <td>
          <span
            ><a
              href="venturenation.co"
              style="
                padding: 5px 5px 5px 0px;
                border: 0;
                font-weight: 500;
                cursor: pointer;
                margin: 0px auto 45px;
                text-decoration: none;
                color: #ffffff;
              "
              >&copy;
              <span style="color: #fa4032; font-weight: 700">
                <span style="color: #fff">Link</span>Spire</span
              >. All rights reserved.</a
            ></span
          >
        </td>
      </tr>
      <!-- FOOTER SOCIAL MEDIA LINKS ENDS -->
    </table>
    <!-- FOOTER SECTION ENDS -->
  </body>
</html>
